
Turn Based Roguelike/Assets/Marnix/Raw model and material folder/Dungeon/Materials/Wall_autosave_0.spp.meta
Turn Based Roguelike/Assets/Marnix/Raw model and material folder/Dungeon/Materials/Wall.spp.meta
Turn Based Roguelike/Assets/Marnix/Raw model and material folder/Dungeon/Materials/vent.spp.meta
Turn Based Roguelike/Assets/Marnix/Raw model and material folder/Dungeon/Materials/roof.spp
Turn Based Roguelike/Assets/Marnix/Raw model and material folder/Dungeon/Materials/metaldoor.spp.meta
Turn Based Roguelike/Assets/Marnix/Raw model and material folder/Dungeon/Materials/floorbars.spp.meta
Turn Based Roguelike/Assets/Marnix/Raw model and material folder/Dungeon/Materials/Floor.spp.meta
Turn Based Roguelike/Assets/Marnix/Raw model and material folder/Dungeon/Materials/door.spp.meta
Turn Based Roguelike/Assets/Marnix/Raw model and material folder/Dungeon/Materials/chains.spp.meta
Turn Based Roguelike/Assets/Marnix/Raw model and material folder/Dungeon/Materials/Cage.spp.meta
Turn Based Roguelike/Assets/Marnix/Raw model and material folder/Dungeon/Materials/bars.spp.meta
*.spp
*.meta
